body {
  /*background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,247,236,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background: #ffecc8;

  font-family: "Roboto", sans-serif;

  padding-bottom: 8em;
}

h1#title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 70px;

  margin-bottom: 0;
  text-align: center;

  /*color: #c50;
  filter: drop-shadow(-5px -5px 0 #666);
  transform: perspective(400px) rotateY(20deg) rotateX(-5deg);*/

  color: #48d;
  text-shadow:
    0px 1px 0 #aaa,
    0px 2px 0 #aaa,
    0px 3px 0 #aaa,
    0px 4px 0 #aaa;
}

h2.subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 24px;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 60px;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;

  margin-top: 60px;
}

.content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

#io {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#io div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.large-icon {
  font-size: 80px;
  text-align: center;
  vertical-align: middle;
}

#input-image-canvas {
  width: 224px;
  height: 224px;
  background: #ccc;
  border: 2px solid #333;
}

div#output-map {
  width: 224px;
  height: 224px;
  border: 2px solid #333;
}

#status-display {
  color: black;
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px;

  max-width: 384px;
  margin-left: auto;
  margin-right: auto;

  font-family: monospace;
  font-size: 1.5em;
  text-align: center;
}

#status-display.error {
  color: red;
}

#examples img {
  width: 224px;
  height: 224px;
}

#examples div {
  text-align: center;
}

#input-image {
  display: none;
}
